/* INDICE

- RESET RULES

- LAYOUT RULES

- HEADER RULES

- MAIN RULES

- FOOTER RULES

- DEBUG RULES */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

img{
    max-width: 100%;
}

.immagini{
    display: block;
}

ul,
li{
    display: inline-block
}

/* ---------- LAYOUT RULES --------------------------------------------------------------------- */

.container{
    width: 100%;
    height: 100%;
    padding: 72px;
}

.row{
    display: flex;
    flex-direction: row;
}



/* ---------- HEADER RULES --------------------------------------------------------------------- */

header{
    position: fixed;
    top: 0px;
    right: 0px;
}

/* ---------- MAIN RULES --------------------------------------------------------------------- */

main{
    background-color: black;
    height: 100vh;

    color: azure;
}

.camera{
    position: relative;
}

.cam-info{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    background-color: #222;
    opacity: 50%;
    padding: 4px;
}



/* ---------- FOOTER RULES --------------------------------------------------------------------- */

footer{
    background-color:#222;
    padding: 12px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
}

/* ---------- DEBUG RULES --------------------------------------------------------------------- */
/* elimina class="debug" dal body per disattivare */


.debug .debug{
    border: 2px dashed salmon;
    padding: 2px;
}

.debug .header-debug{
    padding: 12px;
    background-color:rosybrown;
}

.debug .main-debug{
    padding: 12px;
    background-color: yellowgreen;
}


.debug .footer-debug{
    padding: 12px;
    background-color: aquamarine;
}