/* INDICE

- RESET RULES

- LAYOUT RULES

- HEADER RULES

- MAIN RULES

- FOOTER RULES

- DEBUG RULES */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

img{
    max-width: 100%;
}

.immagini{
    display: block;
}

body{
    position: relative;
    height: 100vh;
}


ul,
li{
    display: inline-block
}

ul li{
    opacity: 100%;
    color: white;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* ---------- LAYOUT RULES --------------------------------------------------------------------- */

main{
    width: 100vw;
    height: 70vh;
    padding: 64px;
}

.container{
    width: 90%;
    height: 70vh;
    margin: 0px auto;
}

.row{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
}


.col-2{
    flex-basis: calc(100% * (2 / 12));
    padding: 8px 4px;
}


/* ---------- HEADER RULES --------------------------------------------------------------------- */

header{
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 4px;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

header p{
    display: inline-block;
}

header a{
    height: 24px;
    border-radius: 4px;
    background-color:rgba(74, 74, 74);
    padding: 4px 8px;
    text-align: center;
    margin-right: 8px;

}




/* ---------- MAIN RULES --------------------------------------------------------------------- */

main{
    background-color: black;
    height: 100vh;
    color: white;
}

.screen{
    display: flex;
    flex-wrap: wrap;
    /* gap: 12px 4px; */
}

.camera{
    position: relative;
}

.cam-info{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    background-color: rgba(74, 74, 74, 0.5);
    padding: 8px;
}





/* ---------- FOOTER RULES --------------------------------------------------------------------- */

footer{
    background-color:#222;
    padding: 12px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
}

/* ---------- DEBUG RULES --------------------------------------------------------------------- */
/* elimina class="debug" dal body per disattivare */


.debug .debug{
    border: 2px dashed salmon;
    padding: 2px;
}

.debug .header-debug{
    padding: 12px;
    background-color:rosybrown;
}

.debug .main-debug{
    padding: 12px;
    background-color: yellowgreen;
}


.debug .footer-debug{
    padding: 12px;
    background-color: aquamarine;
}